<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stenzel.tim.dominion">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dominion"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dominion"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseCards" />
        <activity android:name=".ShowDeck" />
        <activity android:name=".ShowSavedDecks" />
        <activity android:name=".ShowSavedDeck" />
        <activity android:name=".GalleryActivity" />
        <activity
            android:name=".AlertDialogs.AlertDialogSaveDeck"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".AlertDialogs.AddErweiterungsset"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".ShowCardsActivity" />
        <activity android:name=".AddDeckActivity"></activity>
    </application>

</manifest>